<!doctype html>
<html>
<head><%- bootstrap %></head>
<body>
  <h1>500, Internal server error</h1>

  <% if ('message' in locals) { %>
  <p><%= message %></p>
  <% } %>

  <% if ('env' in locals && env !== 'production' && stack) { %>
  <pre><%= stack %></pre>
  <% } %>

  <div data-pagelet="diagnostics"></div>
</body>
</html>
